<template>
    <form class="form-horizontal">
        <slot name="schema-form-header" containerless></slot>
        <div class="form-body">
            <slot name="schema-form-alerts"></slot>
            <form-fields messages.bind="messages"
                         model.bind="model"
                         schema.bind="schema"
                         containerless>
            </form-fields>
        </div>
        <slot name="schema-form-footer" containerless></slot>
    </form>
</template>
